.hero
	padding-top: 35px
	+md-block
		padding-top: 15px

	&__brand
		font-family: $main-light
		text-transform: none
		+adaptive-value('font-size', 16, 10, 1)
		text-align: right
		margin-right: 150px
		+md-block
			margin-right: 50px
		+xs-block
			margin-right: 35px

	// Hero Title
	&__title
		text-transform: uppercase
		line-height: 1.1
		max-width: 975px
		+xs-block
			text-align: center
		&-top
			strong
				color: #fff
				+f-black
				+adaptive-value('font-size', 82, 62, 1)
			.title-yellow
				+f-bebas
				+c-yellow
				+adaptive-value('font-size', 82, 58, 1)
				margin-left: 30px
				+to(1023px)
					display: block
					margin-left: 0

		&-bottom
			color: #fff
			+f-bebas
			+adaptive-value('font-size', 86, 40, 1)
			+adaptive-value('width', 725, 350, 1)
			display: flex
			position: relative
			+xs-block
				justify-content: center
				margin: 0 auto
			.title-yellow
				+c-yellow
				margin-right: 10px
				+xs-block
					margin-right: 5px
			.title-blue
				color: #16bee0
				margin-right: 10px
				+xs-block
					margin-right: 5px
			&:after
				content: ''
				position: absolute
				background: url($img+'0.png') center center/cover no-repeat
				top: -25px
				right: -180px
				width: 150px
				height: 150px
				+md-block
					width: 100px
					height: 100px
					top: -15px
					right: -120px
				+sm-block
					width: 80px
					height: 80px
					right: -90px
				// +to(500px)
				+xs-block
					right: -10px
					top: 40px
					width: 60px
					height: 60px

		&-holiday
			color: #fff
			span
				display: block
				+f-bebas
				+adaptive-value('font-size', 86, 42, 1)
			.little-title
				display: inline
				font-family: $main-medium
				+adaptive-value('font-size', 24, 13, 1)

	//-------------------- Subtitle -------------------->
	.subtitle
		line-height: 1.1
		+adaptive-value('font-size', 36, 24, 1)

	&__content
		display: flex
		+sm-block
			flex-direction: column

	.download
		+sm-block
			order: 2

	&__img
		margin-top: -100px
		+sm-block
			margin-top: 0
			margin: 0 auto
			img
				margin: 0 auto
				max-height: 400px
		+xs-block
			margin-top: 20px