.video
	margin-top: 60px
	+adaptive-value('padding-bottom', 90, 40, 1)
	+xxs-block
		margin-top: 40px
	h2
		+to(1023px)
			max-width: 420px
		+xs-block
			max-width: 290px

	&__player
		background: #222
		width: 800px
		height: 490px
		position: relative
		margin-left: 160px
		+adaptive-value('margin-top', 75, 15, 1)
		+md-block
			width: 700px
			height: 400px
		+to(1023px)
			width: 500px
			height: 300px
			margin-left: auto
			margin-right: auto
		+sm-block
			width: 80%
		+xs-block
			width: 100%
			height: 210px
		+xxs-block
			height: 170px
			margin-top: 40px
		&:before
			content: ''
			position: absolute
			bottom: -125px
			left: -125px
			background: url($img+'arrows-left-big.svg') center center/cover no-repeat
			width: 140px
			height: 140px
			+md-block
				width: 90px
				height: 90px
				bottom: -75px
				left: -75px
			+sm-block
				background: url($img+'arrows-left.svg') center center/cover no-repeat
				width: 45px
				height: 52px
				left: 0
				transform: rotate(-65deg)
			+xs-block
				left: 7px
			+xxs-block
				left: 0
				bottom: -40px
				width: 25px
				height: 30px

		&:after
			content: ''
			position: absolute
			top: -148px
			right: -137px
			background: url($img+'arrows-right-big.svg') center center/cover no-repeat
			width: 160px
			height: 160px
			+md-block
				width: 110px
				height: 110px
				top: -105px
				right: -95px
			+sm-block
				background: url($img+'arrows-right.svg') center center/cover no-repeat
				right: 5px
				width: 59px
				height: 70px
				transform: rotate(-50deg)
			+xs-block
				right: 7px
				top: -75px
				width: 45px
				height: 55px
			+xxs-block
				top: -50px
				right: 0
				width: 30px
				height: 35px

		video
			width: 100%
			height: 100%