mixin about()
	+b.SECTION.about
		.container
			h2.title МЫ СТУДИЯ ДИЗАЙНА

			+e.left
				+e.IMG(src="img/17.png", alt="image" width="1030" height="539").image-author
				+e.left-text
					p.text Мы Студия Дизайна и Брендинга «AMS», накопили достаточно большой опыт, работаем с крупными казахстанскими компаниями, также с международными компаниями из Лондона, Турции, США.
					p.text Раньше мы тратили кучу времени на вырез картинок, за все наши годы опыта собралась огромная база файлов PNG, векторов и т.д., и за небольшой донат мы поделимся с вами этой большой базой.

			+e.descr
				+e.P.offer всего за пару тысяч тенге ты получишь огромную базу файлов, праздников, которая собиралась несколько лет!
				p.text Это станет твоим большим преимуществом перед другими дизайнерами, ведь ты будешь экономить кучу времени, а значит сможешь делать больше и лучше!

			+e.IMG(src="img/18.png", alt="image").bg

			+b.SECTION.download
				+e.left
					h3.subtitle.text-center СКАЧИВАЙ ЭТУ БАЗУ, КОТОРУЮ МЫ СОБИРАЛИ ПОЧТИ 5 ЛЕТ
					+e.price.text-center ЗА СИМВОЛИЧЕСКУЮ ПЛАТУ
					+e.A(href="https://api.whatsapp.com/send?phone=77753281433&text=Здравствуйте!%20Я%20хочу%20заказать%20дизайн." target="_blank").link НАПИСАТЬ НА WHATSAPP
					+e.text.text-center В WHATSAPP ТЫ УЗНАЕШЬ СТОИМОСТЬ И РАЗМЕР СКИДКИ

				+e.stock
					span АКЦИЯ ДЕЙСТВУЕТ ТОЛЬКО 1 ДЕНЬ
					+e.timer#timeleft(data-end="2090-03-25 00:00:00")

					p Поторопись, нажимай. не упускай возможности. <strong>БОЛЬШАЯ ЦЕННОСТЬ</strong> за маленькие деньги!
