mixin main()

	+b.SECTION.hero
		.container
			+e.brand Студия Дизайна и Брендинга «AMS»
			+e.H1.title
				b БОЛЬШАЯ
				strong  база материалов
				+e.title-types
					span.t-yellow  png,
					span.t-cyan  векторов,
					span  вижуалов,
				+e.title-holiday  всех праздников
				+e.title-for ДЛЯ ДИЗАЙНЕРОВ, SMMЩИКОВ

			+e.content
				+b.SECTION.download
					.container
						h3.subtitle.text-center СКАЧИВАЙ ЭТУ БАЗУ, КОТОРУЮ МЫ СОБИРАЛИ ПОЧТИ 5 ЛЕТ
						+e.price.text-center ЗА СИМВОЛИЧЕСКУЮ ПЛАТУ
						+e.A(href="https://api.whatsapp.com/send?phone=77474234533&text=Здравствуйте!%20Я%20хочу%20заказать%20дизайн." target="_blank").link НАПИСАТЬ НА WHATSAPP
						+e.text.text-center В WHATSAPP ТЫ УЗНАЕШЬ СТОИМОСТЬ <br> И РАЗМЕР СКИДКИ
						+e.items
							+e.item
								img(src="img/calendar.webp", alt="icon" width="512" height="512")
								p База <br> собиралась <br> 5 лет
							+e.item
								img(src="img/wall-clock.webp", alt="icon" width="512" height="512")
								p Готовые, <br> вырезанные PNG. <br> Вы сэкономите <br> кучу времени
							+e.item
								img(src="img/like.webp", alt="icon" width="512" height="512")
								p Все картинки <br> в отличном <br> качестве
				+e.img
					img(src="img/1.webp", alt="image")

	//- +b.SECTION.archive
		.container
			h2.title ЧТО В АРХИВЕ?
			+e.items
				+e.item
					+e.img
						img(src="img/2.webp", alt="image")
					+e.descr
						span.subtitle ФАЙЛЫ PNG
						p.text Не тратьте время на вырез картинок! Качественно вырезанные png файлы на казахстанскую тематику
				+e.item
					+e.img
						img(src="img/3.webp", alt="image")
					+e.descr
						span.subtitle ВЕКТОР ФАЙЛЫ
						p.text Исходники векторных <br> файлов на казахстанскую тематику
				+e.item
					+e.img
						img(src="img/4.webp", alt="image")
					+e.descr
						span.subtitle ГОТОВЫЕ ОТКРЫТКИ
						p.text Устали каждый раз делать вижуалы на  праздники? готовые файлы всех казахстанских праздников в PSD, PNG, JPEG

	//- +b.SECTION.video
		.container
			h2.title ПОСМОТРИТЕ ВСЁ САМИ:
			+e.player

	//- +b.SECTION.themes
		.container
			h2.title 11 ТЕМ В АРХИВЕ:
			+e.slider.swiper
				.swiper-wrapper
					.swiper-slide
						img(src="img/19.webp", alt="slide")
						span ФАЙЛЫ <br> НА КАЗАХСТАНСКУЮ ТЕМУ
					.swiper-slide
						img(src="img/20.webp", alt="slide")
						span ФАЙЛЫ <br> НА ДЕНЬ КОНСТИТУЦИИ
					.swiper-slide
						img(src="img/21.webp", alt="slide")
						span ФАЙЛЫ <br> НА ДЕНЬ ПЕРВОГО <br> ПРЕЗИДЕНТА
					.swiper-slide
						img(src="img/22.webp", alt="slide")
						span ФАЙЛЫ <br> НА НАУРЫЗ
					.swiper-slide
						img(src="img/23.webp", alt="slide")
						span ФАЙЛЫ <br> НА НОВЫЙ ГОД
					.swiper-slide
						img(src="img/24.webp", alt="slide")
						span ФАЙЛЫ <br> НА ДЕНЬ КОНСТИТУЦИИ
					.swiper-slide
						img(src="img/25.webp", alt="slide")
						span ФАЙЛЫ <br> НА ДЕНЬ ЗАЩИТНИКА ОТЕЧЕСТВА
					.swiper-slide
						img(src="img/26.webp", alt="slide")
						span ФАЙЛЫ <br> НА 9 МАЯ
					.swiper-slide
						img(src="img/27.webp", alt="slide")
						span ФАЙЛЫ <br> НА 8 МАРТА
					.swiper-slide
						img(src="img/28.webp", alt="slide")
						span КАЗАХСКИЕ <br> ОРНАМЕНТЫ PNG, ВЕКТОР
					.swiper-slide
						img(src="img/29.webp", alt="slide")
						span ПРАЗДНИЧНЫЕ <br> АТРИБУТЫ

				.navigation
					.swiper-prev.prev
					.swiper-next.next

			.swiper-pagination

	//- +b.SECTION.for
		.container
			h2.title ДЛЯ КОГО ЭТА БАЗА

			//- Content - 1
			+e.content
				+e.person
					img(src="img/5.webp", alt="person")
					+e.text
						strong ДЛЯ ДИЗАЙНЕРОВ
						p Используйте наши готовые файлы для различных ваших работ. Это быстро и качественно!

				+e.slider-wrapper1
					+e.subtitle ИСПОЛЬЗУЙТЕ ИХ ВЕЗДЕ:
					+e.slider1.swiper
						.swiper-wrapper
							.swiper-slide
								img(src="img/8.webp", alt="slide" width="387" height="273")
								span Вижуалы, открытки
							.swiper-slide
								img(src="img/9.webp", alt="slide" width="463" height="273")
								span Презентации
							.swiper-slide
								img(src="img/10.webp", alt="slide" width="298" height="280")
								span В полиграфии
							.swiper-slide
								img(src="img/11.webp", alt="slide" width="338" height="269")
								span На баннерах

					.navigation
						.swiper-prev1.prev
						.swiper-next1.next

			//- Content - 2
			+e.content
				+e.person
					img(src="img/6.webp", alt="person")
					+e.text
						strong ДЛЯ SMMЩИКОВ
						p С нашими файлами вы с легкостью сможете сделать любой пост.  + у вас будут вижуалы всех праздников на целый год!

				+e.slider-wrapper2
					+e.slider2.swiper
						.swiper-wrapper
							.swiper-slide
								img(src="img/14.webp", alt="slide" width="362" height="362")
								span Все праздники, <br> в исходниках PSD, PNG
							.swiper-slide
								img(src="img/12.webp", alt="slide" width="193" height="362")
								span Формат <br> сторис
							.swiper-slide
								img(src="img/13.webp", alt="slide" width="255" height="362")
								span Формат <br> поста

					.navigation
						.swiper-prev2.prev
						.swiper-next2.next

			//- Content - 3
			+e.content
				+e.person
					img(src="img/7.webp", alt="person")
					+e.text
						strong ДЛЯ БИЗНЕСМЕНОВ
						p Вы сами ведете свой инстаграм? Надоело искать некрасивые картинки к праздникам? Теперь у вас будут все праздники на целый год!

				+e.slider-wrapper3
					+e.slider3.swiper
						.swiper-wrapper
							.swiper-slide
								img(src="img/30.webp", alt="slide" width="357" height="357")
								span Все файлы готовы <br> для постинга
							.swiper-slide
								img(src="img/31.webp", alt="slide" width="357" height="357")
								span Можете вставить <br> свой логотип
							.swiper-slide
								img(src="img/32.webp", alt="slide" width="357" height="357")
								span И подобрать близкую <br> вам стилистику

					.navigation
						.swiper-prev3.prev
						.swiper-next3.next


	//- +b.SECTION.about
		.container
			h2.title МЫ СТУДИЯ ДИЗАЙНА

			+e.left
				+e.IMG(src="img/17.webp", alt="image").image-author
				+e.left-text
					p.text Мы студия дизайна, брендинга «СТУДИЯ АБДИКОВА МАДИ», накопили достаточно большой опыт, работаем с крупными казахстанскими компаниями, также с международными компаниями из Лондона, Турции, США.
					p.text Раньше мы тратили кучу времени на вырез картинок, за все наши годы опыта собралась огромная база файлов PNG, векторов и т.д., и за небольшой донат мы поделимся с вами этой большой базой.

			+e.descr
				+e.P.offer всего за пару тысяч тенге ты получишь огромную базу файлов, праздников, которая собиралась несколько лет!
				p.text Это станет твоим большим преимуществом перед другими дизайнерами, ведь ты будешь экономить кучу времени, а значит сможешь делать больше и лучше!

			+e.IMG(src="img/18.webp", alt="image").bg

			+b.SECTION.download
				+e.left
					h3.subtitle.text-center СКАЧИВАЙ ЭТУ БАЗУ, КОТОРУЮ МЫ СОБИРАЛИ ПОЧТИ 5 ЛЕТ
					+e.price.text-center ЗА СИМВОЛИЧЕСКУЮ ПЛАТУ
					+e.A(href="https://api.whatsapp.com/send?phone=77474234533&text=Здравствуйте!%20Я%20хочу%20заказать%20дизайн." target="_blank").link НАПИСАТЬ НА WHATSAPP
					+e.text.text-center В WHATSAPP ТЫ УЗНАЕШЬ СТОИМОСТЬИ РАЗМЕР СКИДКИ

				+e.stock
					span АКЦИЯ ДЕЙСТВУЕТ ТОЛЬКО 1 ДЕНЬ
					+e.timer#timeleft(data-end="2090-03-25 00:00:00")

					p поторопись, нажимай. не упускай возможности. <strong>БОЛЬШАЯ ЦЕННОСТЬ</strong> за маленькие деньги!


	//- +b.SECTION.stock
	//- 	.container
