mixin main()
	+b.SECTION.main
		.container
			+e.brand Стулия Дизайна и Брендинга «AMS»
			+e.H1.title
				|БОЛЬШАЯ
				strong база материалов png,
				span векторов,
				| вижуалов, всех праздников
			+e.img
				img(src="img/1.webp", alt="image")

	+b.SECTION.download
		.container

	+b.SECTION.archive
		.container

	+b.SECTION.video
		.container

	+b.SECTION.themes
		.container

	+b.SECTION.for
		.container

	+b.SECTION.about
		.container

	//- +b.SECTION.download

	+b.SECTION.stock
		.container
