.footer
	+adaptive-value('font-size', 14, 12, 1)
	text-transform: none
	background-color: #000
	padding: 15px 0
	+xs-block
		p0

	&__top
		border-bottom: 1px solid #7B7B7B
		text-align: center
		display: flex
		justify-content: center
		padding: 25px 0
		+xs-block
			flex-direction: column
			justify-content: flex-start
			text-align: left
			padding: 10px 0
			padding-bottom: 20px
		span, address
			position: relative
			+xs-block
				margin-left: 20px

		span
			margin-right: 70px
			+xs-block
				margin-right: 0
				margin-bottom: 20px
			&:before
				content: ''
				position: absolute
				background: url($img+'phone.svg') center center/cover no-repeat
				width: 24px
				height: 24px
				top: 50%
				left: -35px
				transform: translateY(-50%)
				+xs-block
					width: 15px
					height: 15px
					left: -22px

		address
			&:before
				content: ''
				position: absolute
				background: url($img+'map.svg') center center/cover no-repeat
				width: 24px
				height: 24px
				top: 50%
				left: -35px
				transform: translateY(-50%)
				+xs-block
					width: 15px
					height: 15px
					left: -22px

	&__bottom
		text-align: center
		margin-top: 20px
		+xs-block
			margin-top: 10px
