extends template

include index/main

include components/modals

block head
	head
		+head({
			"title": "Большая база материалов PNG, векторовб вижуалов, всех праздников",
			"author": "Мади Абдиков",
			"description": "Большая база материалов PNG, векторовб вижуалов, всех праздников"
		})

block content
	+main()

	+modals()



