extends template

include index/hero
include index/archive
include index/video
include index/themes
include index/for
include index/about

include components/modals

block head
	head
		+head({
			"title": "Большая база материалов PNG, векторовб вижуалов, всех праздников",
			"author": "Мади Абдиков",
			"description": "Большая база материалов PNG, векторовб вижуалов, всех праздников"
		})

block content
	+hero()
	+archive()
	+video()
	+themes()
	+for()
	+about()

	+modals()



