//-------------------- COLORS -------------------->
$dark: #000
$yellow: #FFDE22

//-------------------- FONTS -------------------->
$main-light: 'Montserrat Light'
$main: 'Montserrat Regular'
$main-medium: 'Montserrat Medium'
// $second_font_regular: ''


//-------------------- PATHS -------------------->
$img: '../img/'
$fonts: 'fonts/'
